.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

.table.table-ellipsis tbody td {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table.table-ellipsis tbody td:hover {
	text-overflow: clip;
	white-space: normal;
	word-break: break-all;
}
