<div class="row mt-4">
	<div class="col">
		<div class="form-floating">
			<input
				type="number"
				class="form-control"
				id="advance_timeout_sleep"
				value="10"
			/>
			<label for="approx_alpha">Timeout Sleep Function</label>
		</div>
	</div>

	<div class="col">
		<div class="form-floating">
			<textarea
				class="form-control"
				id="advance_kre"
				onkeyup="growArea(this)"
			></textarea>
			<label for="advance_kre">Known Response Error</label>
		</div>
	</div>

	<div class="col">
		<div class="form-floating">
			<textarea
				class="form-control"
				id="advance_krq"
				onkeyup="growArea(this)"
			></textarea>
			<label for="advance_krq">Known Response Query</label>
		</div>
	</div>
</div>
