<div class="row mt-4">
	<div class="col">
		<div class="form-floating">
			<input type="number" class="form-control" id="approx_alpha" value="0.5" />
			<label for="approx_alpha">Alpha</label>
		</div>
	</div>

	<div class="col">
		<div class="form-floating">
			<input type="number" class="form-control" id="approx_beta" value="0" />
			<label for="approx_beta">Beta</label>
		</div>
	</div>

	<div class="col">
		<div class="form-floating">
			<input type="number" class="form-control" id="approx_gamma" value="0.3" />
			<label for="approx_gamma">Gamma</label>
		</div>
	</div>

	<div class="col">
		<div class="form-floating">
			<input type="number" class="form-control" id="approx_delta" value="0.2" />
			<label for="approx_delta">Delta</label>
		</div>
	</div>
</div>

<div class="row mt-4">
	<h5>Description</h5>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Alpha</h5>
				<h6 class="card-subtitle mb-2 text-muted">Server Response Error</h6>
				<p class="card-text">
					Check error message like
					<code>error in your SQL syntax</code>
				</p>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Beta</h5>
				<h6 class="card-subtitle mb-2 text-muted">Text Distance</h6>
				<p class="card-text">
					Diff response <code>normal page</code> with response from
					<code>test case</code>
				</p>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Gamma</h5>
				<h6 class="card-subtitle mb-2 text-muted">Time Based</h6>
				<p class="card-text">
					Check server response time when
					<code>sleep function</code> triggered
				</p>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Delta</h5>
				<h6 class="card-subtitle mb-2 text-muted">Reflected Custom Query</h6>
				<p class="card-text">
					Check known response query from
					<code>version function</code>, <code>select query</code> and
					<code>others.</code>
				</p>
			</div>
		</div>
	</div>
</div>
